@CHARSET "UTF-8";
@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
*, *:after, *:before, *::after, *::before{font-family: 'Spoqa Han Sans', sans-serif;}

body {
	height:100%;
	width:100%
}
.bg-gradient {
	position:relative;
	height: 100vh;
	background: linear-gradient(-135deg, #C2AEE1, #32538F);
}
.txt-white {color:#fff}
.align-center {text-align: center;}
.fz-80{font-size: 0.875rem}

h1.logo {
	margin-top: 3em;
	margin-bottom: 3em;
}
h1.logo img{
	width:100%;
}
.login-btn-group img {
	margin-left:0.5em;
	margin-right:0.5em;
	width: 30%;
}
.copy {
	position: absolute;
	bottom: 1em;
    width:100%;
    font-size: 0.65rem!important
}

.login-wrap input {
	width:100%;
	height: 3em;
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 50px;
	padding: 0 1.5em;
	margin-bottom: 0.5em;
	font-size:0.875rem;
}
.login-wrap input[type="button"] {
	background: #fff;
	color: #325593;
}