@charset "utf-8";

/* 고정 값(px)을 상대 값(em, rem, [%], vw, vh, vmin, vmax)으로 변경 */
/* container 모듈 */
.container {
  width: 100%;
  max-width: 1344xpx; 
  margin-left: auto;
  margin-right: auto;
}

/* row 모듈 */
.row:after, .row::after {
  content: '';
  display: block;
  clear: both;
}

/* column 모듈 */
[class*="col-"] {
  float: left;
}
.col-1  { width: 8.3333%;  }
.col-2  { width: 16.6667%; }
.col-3  { width: 25%; }
.col-4  { width: 33.3333%; }
.col-5  { width: 41.6667%; }
.col-6  { width: 50%; }
.col-7  { width: 58.3333%; }
.col-8  { width: 66.6667%; }
.col-9  { width: 75%; }
.col-10 { width: 83.3333%; }
.col-11 { width: 91.6667%; }
.col-12 { width: 100%; }


[class*="push-"],
[class*="pull-"] {
  position: relative;
}

.push-1  { left: 8.3333%; }
.push-2  { left: 16.6667%; }
.push-3  { left: 25%; }
.push-4  { left: 33.3333%; }
.push-5  { left: 41.6667%; }
.push-6  { left: 50%; }
.push-7  { left: 58.33333333333333%; }
.push-8  { left: 66.66666666666666%; }
.push-9  { left: 74.99999999999999%; }
.push-10 { left: 83.33333333333331%; }
.push-11 { left: 91.66666666666666%; }
.push-12 { left: 100%; }

.pull-1  { left: -8.333333333333332%; }
.pull-2  { left: -16.666666666666664%; }
.pull-3  { left: -24.999999999999996%; }
.pull-4  { left: -33.33333333333333%; }
.pull-5  { left: -41.66666666666666%; }
.pull-6  { left: -50%; }
.pull-7  { left: -58.33333333333333%; }
.pull-8  { left: -66.66666666666666%; }
.pull-9  { left: -74.99999999999999%; }
.pull-10 { left: -83.33333333333331%; }
.pull-11 { left: -91.66666666666666%; }
.pull-12 { left: -100%; }

.prefix-1 { margin-left: 8.3333%; }
.prefix-2 { margin-left: 16.6667%; }
.prefix-3 { margin-left: 25%; }
.prefix-4 { margin-left: 33.3333%; }
.prefix-5 { margin-left: 41.6667%; }
.prefix-6 { margin-left: 50%; }
.prefix-7 { margin-left: 58.33333333333333%; }
.prefix-8 { margin-left: 66.66666666666666%; }
.prefix-9 { margin-left: 74.99999999999999%; }
.prefix-10 { margin-left: 83.33333333333331%; }
.prefix-11 { margin-left: 91.66666666666666%; }
.prefix-12 { margin-left: 100%; }

.suffix-1 { margin-right: 8.3333%; }
.suffix-2 { margin-right: 16.6667%; }
.suffix-3 { margin-right: 25%; }
.suffix-4 { margin-right: 33.3333%; }
.suffix-5 { margin-right: 41.6667%; }
.suffix-6 { margin-right: 50%; }
.suffix-7 { margin-right: 58.33333333333333%; }
.suffix-8 { margin-right: 66.66666666666666%; }
.suffix-9 { margin-right: 74.99999999999999%; }
.suffix-10 { margin-right: 83.33333333333331%; }
.suffix-11 { margin-right: 91.66666666666666%; }
.suffix-12 { margin-right: 100%; }